:root {
  --main-top-offset: 128px;
}

.characterEditor {
  position: relative;
  padding-top: var(--main-top-offset);
  padding-bottom: 64px;
}

.characterEditor::before {
  z-index: -1;
  content: "''";
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #e5e7eb;
  margin-top: -50vh;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.maxWidthWrapper {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
}

.controlWrapper {
  max-width: 65%;
}

.controlColumn {
  max-width: 65%;
}

.characterWrapper {
  position: sticky;
  top: 48px;
  width: 50%;
  height: 80vh;
}

@media (max-width: 748px) {
  .characterEditor {
    all: unset;
    display: block;
    position: relative;
  }

  .header {
    display: none;
  }

  .maxWidthWrapper {
    all: unset;
    display: block;
    position: relative;
    height: 100vh;
  }

  .controlWrapper {
    all: unset;
    z-index: 1;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .controlColumn {
    all: unset;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: absolute;
    bottom: 32px;
  }

  .controlColumn > div {
    margin-left: 16px;
  }

  .controlColumn > div:last-of-type {
    margin-right: 16px;
  }

  .characterWrapper {
    all: unset;
    position: absolute;
    bottom: 124px;
    left: 0;
    width: 100%;
    height: 80vh;
  }
}
